.navbar{
  position:sticky;
  top:0;
  z-index:100;
  background:#0f172a;
  padding:14px 20px;
}

.nav-container{
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* LOGO */
.logo{
  font-size:1.5rem;
  font-weight:600;
  color:white;
}

/* LINKS DESKTOP */
.nav-links{
  display:flex;
  gap:30px;
  align-items:center;
}

.nav-links a{
  color:#d1d5db;
  text-decoration:none;
  font-size:0.95rem;
  transition:0.3s;
}

.nav-links a:hover{
  color:white;
}

/* BUTTON */
.nav-btn{
  background:#1e40af;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  transition:0.3s;
}

.nav-btn:hover{
  background:#1d4ed8;
}

/* HAMBURGER */
.hamburger{
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
}

.hamburger span{
  width:26px;
  height:3px;
  background:white;
}

/* MOBILE */
.mobile-btn{
  display:none;
}

/* RESPONSIVE */
@media(max-width:768px){

  .hamburger{
    display:flex;
  }

  .nav-btn.desktop{
    display:none;
  }

  .nav-links{
    position:absolute;
    top:64px;
    left:0;
    width:100%;
    background:#020617;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:30px 0;
    transform:translateY(-200%);
    transition:0.4s ease;
  }

  .nav-links.active{
    transform:translateY(0);
  }

  .mobile-btn{
    display:block;
    width:80%;
    text-align:center;
    padding:12px;
    background:#1e40af;
    color:white;
    border:none;
    border-radius:4px;
  }
}
